<div class="BorderGrid-row">
  <div class="BorderGrid-cell">
    <h2 class="h4 mb-3">Languages</h2>
    <div class="mb-2">
      <span data-view-component="true" class="Progress">
        <span
          style="background-color: #00add8 !important; width: 88.5%"
          itemprop="keywords"
          aria-label="Go 88.5"
          data-view-component="true"
          class="Progress-item color-bg-success-emphasis"
        ></span>
        <span
          style="background-color: #6e4c13 !important; width: 5.8%"
          itemprop="keywords"
          aria-label="Assembly 5.8"
          data-view-component="true"
          class="Progress-item color-bg-success-emphasis"
        ></span>
        <span
          style="background-color: #e34c26 !important; width: 5.3%"
          itemprop="keywords"
          aria-label="HTML 5.3"
          data-view-component="true"
          class="Progress-item color-bg-success-emphasis"
        ></span>
        <span
          style="background-color: #555555 !important; width: 0.2%"
          itemprop="keywords"
          aria-label="C 0.2"
          data-view-component="true"
          class="Progress-item color-bg-success-emphasis"
        ></span>
        <span
          style="background-color: #89e051 !important; width: 0.1%"
          itemprop="keywords"
          aria-label="Shell 0.1"
          data-view-component="true"
          class="Progress-item color-bg-success-emphasis"
        ></span>
        <span
          style="background-color: #0298c3 !important; width: 0.1%"
          itemprop="keywords"
          aria-label="Perl 0.1"
          data-view-component="true"
          class="Progress-item color-bg-success-emphasis"
        ></span>
      </span>
    </div>
    <ul class="list-style-none">
      <li class="d-inline">
        <span
          class="d-inline-flex flex-items-center flex-nowrap text-small mr-3"
        >
          <svg
            style="color: #00add8"
            aria-hidden="true"
            height="16"
            viewBox="0 0 16 16"
            version="1.1"
            width="16"
            data-view-component="true"
            class="octicon octicon-dot-fill mr-2"
          >
            <path d="M8 4a4 4 0 1 1 0 8 4 4 0 0 1 0-8Z"></path>
          </svg>
          <span class="color-fg-default text-bold mr-1">Go</span>
          <span>88.5%</span>
        </span>
      </li>
      <li class="d-inline">
        <span
          class="d-inline-flex flex-items-center flex-nowrap text-small mr-3"
        >
          <svg
            style="color: #6e4c13"
            aria-hidden="true"
            height="16"
            viewBox="0 0 16 16"
            width="16"
            data-view-component="true"
            class="octicon octicon-dot-fill mr-2"
          >
            <path d="M8 4a4 4 0 1 1 0 8 4 4 0 0 1 0-8Z"></path>
          </svg>
          <span class="color-fg-default text-bold mr-1">Assembly</span>
          <span>5.8%</span>
        </span>
      </li>
      <li class="d-inline">
        <span
          class="d-inline-flex flex-items-center flex-nowrap text-small mr-3"
        >
          <svg
            style="color: #e34c26"
            aria-hidden="true"
            height="16"
            viewBox="0 0 16 16"
            version="1.1"
            width="16"
            data-view-component="true"
            class="octicon octicon-dot-fill mr-2"
          >
            <path d="M8 4a4 4 0 1 1 0 8 4 4 0 0 1 0-8Z"></path>
          </svg>
          <span class="color-fg-default text-bold mr-1">HTML</span>
          <span>5.3%</span>
        </span>
      </li>
      <li class="d-inline">
        <span
          class="d-inline-flex flex-items-center flex-nowrap text-small mr-3"
        >
          <svg
            style="color: #555555"
            aria-hidden="true"
            height="16"
            viewBox="0 0 16 16"
            width="16"
            data-view-component="true"
            class="octicon octicon-dot-fill mr-2"
          >
            <path d="M8 4a4 4 0 1 1 0 8 4 4 0 0 1 0-8Z"></path>
          </svg>
          <span class="color-fg-default text-bold mr-1">C</span>
          <span>0.2%</span>
        </span>
      </li>
      <li class="d-inline">
        <span
          class="d-inline-flex flex-items-center flex-nowrap text-small mr-3"
        >
          <svg
            style="color: #89e051"
            aria-hidden="true"
            height="16"
            viewBox="0 0 16 16"
            version="1.1"
            width="16"
            data-view-component="true"
            class="octicon octicon-dot-fill mr-2"
          >
            <path d="M8 4a4 4 0 1 1 0 8 4 4 0 0 1 0-8Z"></path>
          </svg>
          <span class="color-fg-default text-bold mr-1">Shell</span>
          <span>0.1%</span>
        </span>
      </li>
      <li class="d-inline">
        <span
          class="d-inline-flex flex-items-center flex-nowrap text-small mr-3"
        >
          <svg
            style="color: #0298c3"
            aria-hidden="true"
            height="16"
            viewBox="0 0 16 16"
            version="1.1"
            width="16"
            data-view-component="true"
            class="octicon octicon-dot-fill mr-2"
          >
            <path d="M8 4a4 4 0 1 1 0 8 4 4 0 0 1 0-8Z"></path>
          </svg>
          <span class="color-fg-default text-bold mr-1">Perl</span>
          <span>0.1%</span>
        </span>
      </li>
    </ul>
  </div>
</div>
